@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand');

body {
    height: 100%;
}

#page-top{
    background-color: rgb(69, 123, 157);
    width: 100%;
}

/* NavBar */

#mainNav .navbar-brand {
    font-size: 33px;
    font-family: 'Quicksand', sans-serif;
    color: #2e2e2e;;
    padding-top:21px;
    padding-left: 110px;
    z-index: 100%;
    overflow: hidden;
    background: linear-gradient(to right, #2e2e2e,  #2e2e2e 50%, #fff1e6 50%  );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
}

#mainNav .navbar-brand:hover{
    background-position: 0 100%;
}

#myNavbar ul {
    list-style-type: none;
    display: flex;
    float: right;
    padding-top: 15px;
    
}

#myNavbar li>a {
    color: #fff1e6;
    padding: 1rem;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    background: linear-gradient(to right, #2e2e2e,  #2e2e2e 50%, #fff1e6 50%  );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
}

#myNavbar .navbar-nav>li>a:hover{
    background-position: 0 100%;
}

#mainNav{
    position: fixed; 
    background-color:#457b9d;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 10px;
    z-index: 100;
    border:rgb(69, 123, 157)
}

/* Masthead */

#masthead {
	height: 100vh;
	background: linear-gradient( rgba(69, 123, 157, 0.9), rgba(69, 123, 157, 0.9)), url(../Portfolio/PortfolioAssets/mountain.jpg);
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	background-attachment: scroll;
	background-origin: initial, initial;
	background-clip: initial, initial;
	background-color: initial;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.h2, h2 {
    font-size: 70px;
    color: #fff1e6;
    font-family: 'Quicksand', sans-serif;
}

#masthead .container .row .intro-text .col .h3, h3{
    font-size: 24px;
    color:#fff1e6;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 87px;
    padding-left: 4px;
}

#masthead .container .section-heading .accent {
    color: #2e2e2e;;
}

#masthead .intro-text {
	padding-top: 400px;
}

#masthead .container .section-heading {
    font-size: 75px;
    margin-bottom: -20px;
}

/* ABOUT */

#about {
    padding-top: 80px;
    height: 100vh;
    padding-bottom: 0;
    background-color: #fff1e6;
}

#about .container .section-heading {
	font-size: 4em;
	color: #2e2e2e;
	padding-bottom: 15px;
    margin-bottom: 0;
}

#about .container p {
    font-size: 1.5em;
    line-height: 1.75;
}

/* Skills */

#skills{
    padding-top: 80px;
    height: 100vh;
    padding-bottom: 0;
    background-color: #1d3557;
}

#skills .container .section-heading{
    font-size: 4em;
	color:#fff1e6;
	padding-bottom: 15px;
    margin-bottom: 0;
}

.skills-caption{
    color: #fff1e6;
    margin-top: 10px;
}

.skills-image{
    position: relative;
    width: 100%;
}
.skills-image img{
    display: block;
    width: 200px;
    height: 200px;

}


/* Portfolio */

#portfolio{
    padding-top: 80px;
    height: 100vh;
    padding-bottom: 0;
  background-color: #fff1e6;  
}

#portfolio .container .section-heading{
    font-size: 4em;
	color: #2e2e2e;;
	padding-bottom: 15px;
    margin-bottom: 0;
}

.portfolio-caption {
    margin-top: 10px;
    /*text-align: center;*/
}

.portfolio-caption h4 {
    color:#00a896
}

.portfolio-image {
	position: relative;
    width: 100%;
    
  }

  .portfolio-image img {
	display: block;
    width: 100%;
    height: auto;
    
}

/* Contact */

#contact{
    padding-top: 80px;
    height: 100vh;
    padding-bottom: 0;
    background-color: #1d3557;
}

#contact .container .section-heading{
    font-size: 4em;
	color: #fff1e6;
	padding-bottom: 15px;
    margin-bottom: 0;
    
}

.resume-file{
    text-align: left;

    
}
.resume-file a h3{
    color:#fff1e6;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 8px;
    
}

.footer p {
    text-align: center;
    color:#fff1e6;
    font-family: 'Quicksand', sans-serif;
}

#contactForm{
    padding-top: 30px;
}

.form-group input.form-control {
height: auto;
}

footer {
    background-color: #1d3557;
    padding-bottom: 5px;
}