 #page-top{
    background-color: #457b9d;
    width: 100%;
}

.navbar-brand {
    font-size: 33px;
    color: #00a896;
    padding-top:23px;
}

.navbar-brand:hover{
    color: #dcd7d3
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    float: right;
    padding-top: 25px;
}

.navbar-nav>li>a {
    color: #fff1e6;
    padding: 1rem;
    font-size: 18px;
}

.navbar-nav>li>a:hover{
    color:#00a896;
    text-decoration: none;
}

#masthead {
    height: 100%;
    background-color: #457b9d;
}

.h2, h2 {
    font-size: 70px;
    color: #fff1e6
}

.h3, h3{
    font-size: 24px;
    color:#00a896;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 100px;
    margin-bottom: -100px;
}

.section-subheading {
    padding-top: 5px;
}
#about .container{
    background-color: #fff1e6;
    width: 100%;
}