@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand');

#page-top{
    background-color: rgb(69, 123, 157);
    width: 100%;
}

.navbar-brand {
    font-size: 33px;
    font-family: 'Quicksand', sans-serif;
    color: #02dab6;
    padding-top:23px;
    
}

.navbar-brand:hover{
    color: #dcd7d3
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    float: right;
    padding-top: 25px;
}

.navbar-nav>li>a {
    color: #fff1e6;
    padding: 1rem;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.navbar-nav>li>a:hover{
    color: #02dab6;
    text-decoration: none;
}

#mainNav{
    position: fixed; 
    background-color:rgb(69, 123, 157);
    width: 100%;
    padding-bottom: 20px;
    z-index: 100;
}

#masthead {
	height: 100%;
	background: linear-gradient( rgba(69, 123, 157, 0.9), rgba(69, 123, 157, 0.9)), url(../Portfolio/PortfolioAssets/mountain.jpg);
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	background-attachment: scroll;
	background-origin: initial, initial;
	background-clip: initial, initial;
	background-color: initial;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

.h2, h2 {
    font-size: 70px;
    color: #fff1e6;
    font-family: 'Quicksand', sans-serif;
}

#masthead .container .row .intro-text .col .h3, h3{
    font-size: 24px;
    font-weight: bold;
    color:#00a896;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 87px;
}

#masthead .container .section-heading .accent {
    color: #00a896;
}

#masthead .intro-text {
	padding-top: 400px;
}

#masthead .container .section-heading {
    font-size: 75px;
    margin-bottom: -20px;
}

/* ABOUT */

#about {
    padding-bottom: 0;
    background-color: #fff1e6;
}

#about .container .section-heading {
	font-size: 4em;
	color: #00a896;
	padding-bottom: 15px;
    margin-bottom: 0;
}

#about .container p {
    font-size: 1.5em;
}

/* Skills */

#skills{
    background-color: rgb(69, 123, 157);
}

#skills .container .section-heading{
    font-size: 4em;
	color: #00a896;
	padding-bottom: 15px;
    margin-bottom: 0;
}

/* Portfolio */

#portfolio{
  background-color: #fff1e6;  
}

#portfolio .container .section-heading{
    font-size: 4em;
	color: #00a896;
	padding-bottom: 15px;
    margin-bottom: 0;
}

.portfolio-caption {
    margin-top: 10px;
    text-align: center;
}

.portfolio-caption h4 {
    color: #00a896;
}

.portfolio-image {
	position: relative;
    width: 100%;
    
  }

  .portfolio-image img {
	display: block;
    width: 100%;
    height: auto;
    
}

/* Contact */

#contact{
    background-color: rgb(69, 123, 157);
}

#contact .container .section-heading{
    font-size: 4em;
	color: #00a896;
	padding-bottom: 15px;
    margin-bottom: 0;
}